.chat {
  display: flex;
  flex-direction: column;
  flex: 3;
  border-left: 1px solid rgba(255, 235, 205, 0.349);
  border-right: 1px solid rgba(255, 235, 205, 0.349);
  height: 100%;
  .top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    border-bottom: 1px solid rgba(255, 235, 205, 0.349);
    .user {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 20px;
      img {
        height: 60px;
        width: 60px;
        border-radius: 50%;
        object-fit: cover;
      }
      .texts {
        display: flex;
        flex-direction: column;
        gap: 5px;
        span {
          font-weight: bold;
          font-size: 18px;
        }
        p {
          font-size: 14px;
          font-weight: 300;
          color: rgba(255, 235, 205, 0.479);
        }
      }
    }
    .icons {
      display: flex;
      gap: 20px;
      justify-content: center;
      align-items: center;
      img {
        width: 20px;
        height: 20px;
      }
    }
  }
  .center {
    flex: 1;
    padding: 20px;
    overflow: auto;
    display: flex;
    flex-direction: column;
    gap: 20px;
    .message {
      max-width: 70%;
      display: flex;
      gap: 20px;

      .texts {
        /* flex: 1; */
        display: flex;
        flex-direction: column;
        gap: 5px;
        p {
          background-color: rgba(48, 39, 39, 0.486);
          padding: 20px;
          border-radius: 10px;
        }
        span {
          font-size: small;
        }
        img {
          width: 100%;
          height: 300px;
          object-fit: cover;
          border-radius: 10px;
          cursor: pointer;
        }
      }
      img {
        height: 30px;
        width: 30px;
        border-radius: 50%;
        object-fit: cover;
      }
      &.own {
        align-self: flex-end;
        .texts {
          p {
            background-color: rgba(131, 25, 230, 0.658);
          }
        }
      }
    }
  }
  .bottom {
    gap: 20px;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 1px solid rgba(255, 235, 205, 0.349);
    .icons {
      display: flex;
      gap: 20px;
    }
    img {
      height: 20px;
      width: 20px;
      cursor: pointer;
    }
    input {
      flex: 1;
      background-color: rgba(13, 15, 114, 0.548);
      border: none;
      outline: none;
      color: blanchedalmond;
      padding: 20px;
      border-radius: 10px;
      font-size: large;
    }
    .emoji {
      position: relative;
      .picker {
        position: absolute;
        bottom: 50px;
        left: 0;
      }
    }

    .sendButton {
      background-color: rgba(13, 15, 114, 0.548);
      border: none;
      outline: none;
      color: blanchedalmond;
      padding: 10px 20px;
      border-radius: 10px;
      cursor: pointer;
    }
  }
}
